.scroll-content {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    .scroll {
        // position: static;
        min-height: 100%;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
}