@import "_spa.scss";
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #848484;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    height: 100vh;
  }
}

body.style-3 {
  background: #ffffff url(../images/bg_3.png) repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: #000000;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #000000;
}

.icon {
  width: 30px;
  height: 30px;
  color: #FF95AE;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.logo a img {
  width: 200px;
  padding-top: 35px;
}

.menu {
  padding: 0;
  margin: 30px 0 0 0;
}

.menu li {
  list-style: none;
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.menu li a {
  padding: 5px;
}

.menu li.active a {
  color: #b3b3b3;
}

.container,
.row {
  height: 100%;
}

.form-box {
  position: relative;
  padding: 0;
  height: 100%;
}
input,
textarea {
  color: #000;
}

.placeholder {
  color: #aaa;
}

.js .animate-box {
  opacity: 0;
}

.container-fluid {
  padding-right: 0; 
  padding-left: 0; 
  margin-right: auto;
  margin-left: auto;
}
::-webkit-scrollbar{
  display:none;
}
.row{
  width: 100%;
  max-width: 1050px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
.demo-label{
  margin:0;
  display:inline-block
  }
.demo-radio{
  display:none
  }
.demo-radioInput{
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:100%;
  display:inline-block;
  height:16px;
  margin-right:10px;
  margin-top:-1px;
  vertical-align:middle;
  width:16px;
  line-height:1
}
.demo-radio:checked + .demo-radioInput:after{
  background-color: #FF95AE;
  border-radius: 100%;
  content: '\2714';
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  height: 14px;
  margin: 0;
  width: 14px;
}
.demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{
  border-radius:0
}

/*  nav start  */
nav{
  width: 100%;
  max-width: 1050px;
  min-width: 755px;
  height: 58px;
  position: fixed !important;
  top: 0;
  z-index: 333;
  margin: auto;
  left: 0;
  right: 0;
}
.navbar-nav {
    float: right;
}
.navbar-nav > li > a {
    padding: 0 10px;
    font-weight: 600;
    line-height: 54px;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #FF95AE;
    background-color: #e7e7e7;
    border-bottom: 2px #FF95AE solid;
}
@media screen and (max-width: 768px){
  .navbar-nav>li>a {
      padding-top: 22px;
      padding-bottom: 22px;
  }
}
/*  nav end  */


/*  sign-up start  */

.sign-up-box {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

.sign-up-box .icon-left {
  width: 20px;
  height: 20px;
  margin-left: -18px;
  margin-bottom: 22px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.sign-up-box h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}

.sign-up-box .form-group {
  margin-bottom: 23px;
}

.sign-up-box .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
  text-align: center;
}

.sign-up-box .form-group p a {
  color: #000000;
}

.sign-up-box label {
  font-weight: 300;
}

.sign-up-box .form-control {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sign-up-box .form-control:focus{
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed;
}

.sign-up-box .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.sign-up-box .remember {
  font-size: 13px;
  float: left;
}

.sign-up-box .forget {
  font-size: 13px;
  float: right;
  margin-top: 1px;
}

.sign-up-box .forget a {
  color: #FF95AE;
}

.btn-sign-up {
  background-color: #FC6686;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}
.btn-sign-up-cancel{
  background-color: #C1C1C1;
  color:#FFFFFF !important;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}
.btn-sign-up-cancel:hover{
  background-color: #b9b9b9;
  color:#FFFFFF !important;
}
.btn-sign-up:hover,
.btn-sign-up:focus,
.btn-sign-up:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}

.sign-up-box .form-group p a {
  font-weight: 600;
  color: #FF95AE;
}




/*  sign-up end  */


/*  login start  */

.login-box {
  padding: 80px 30px 0 30px;
  height: 100%;
  z-index:2;
  min-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display:none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1); 
}


.login-box h2 {
  font-family: "yu gothic ui semibold";
  letter-spacing: 0px;
  font-size: 32px;
  line-height: 44px;
  margin: 38px 0 66px 0;
  color: #FF95AE;
}

.login-box .form-group {
  margin-bottom: 30px;
}

.login-box .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
  text-align: center;
}

.login-box .form-group p a {
  color: #000000;
}

.login-box label {
  font-weight: 300;
  font-size: 14px;
}

.login-box .form-control {
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-box .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.copyrights {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}


.login-box .form-control:focus,
.login-box .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.login-box .remember {
  font-size: 13px;
  float: left;
}

.login-box .forget {
  font-size: 13px;
  float: right;
  margin-top: 1px;
}

.login-box .forget a {
  color: #FF95AE;
}

.btn-login {
  height: 50px;
  width: 300px;
  margin-top: 162px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background: #FC6686;
  color: #ffffff;
  font-size: 16px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}

.login-box .form-group p a {
  font-weight: 600;
  color: #FF95AE;
}




/*  login end  */


/*  index start  */

.index-form {
  padding: 80px 30px 0 30px;
  min-height:100vh;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed;
}

.index-form .index-box{
  padding: 20px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  .record-a{
    color:#FF95AE;
    padding:8px 20px 8px 8px;
  }
}

.index-form .index-box:hover{
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
}

.index-form h1 {
    font-family: "yu gothic ui semibold";
    text-align: left;
    font-size: 26px;
    color: #000000;
    font-size: 28px;
    margin-top: 0;
}
.index-form .pager {
    margin: 0;
}
.index-form .pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color:transparent;
    border: none;
}
.index-form h2 {
    font-family: "yu gothic ui semibold";
    text-align: left;
    font-size: 20px;
    /* margin: 0 0 97px 0; */
    color: #000000;
    span {
    font-size: 27px;
    margin-left: 6px;
  }
}

.index-form p {
  font-size: 15px;
  text-align: center;
  color: #000000;
}

.index-form h3 {
  font-size: 10px;
  text-align: center;
  margin: 7px 0 110px 0;
  color: #000000;
}

.index-form h4 {
  font-family: "yu gothic ui semibold";
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.index-form .icon-setting {
  width: 20px;
  height: 20px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.index-form .icon-copy {
  width: 17px;
  height: 17px;
  margin-left: 6px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.index-form .wallet-address {
  width: 95%;
  height: 32px;
  margin: 0 auto;
}

.index-form .wallet-address p {
  float: left;
}

.index-form .wallet-address hr {
  width: calc(100% - 130px);
  float: left;
  margin: 12px 0 1px 24px;
}

.index-form .form-group {
  margin-bottom: 30px;
  position: relative;
}

.index-form .form-group1 {
  margin-bottom: 4px;
}

.index-form .form-group p {
  text-align: left;
  font-size: 17px;
  color: #000000;
  font-weight: 400;
  float: left;
  margin: 0;
  cursor: pointer;
}

.index-form .form-group a {
  color: #000000;
}

.index-form .index-box #wallet_qr {
  position: absolute;
  width: 80px;
  bottom: 20px;
  right: 20px;
}

.index-form label {
  font-size: 14px;
  font-weight: 300;
}

.index-form .btn-index {
  height: 58px;
  width: 200px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #000000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.btn-index:hover,
.btn-index:focus,
.btn-index:active {
  color: #000000;
  background: #FD6E7E !important;
  outline: none;
}

.index-form .form-btn {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 6.4%;
  right: 0;
  left: 0;
}

.trans-box{
  position: relative;
  height: 80px;
  width: 50%;
  margin: 0;
  float: left;
}

.index-form #txonchain img{
  width: 61px;
  height: 61px;
  color: #000000;
  fill: currentColor;
  overflow: hidden;
  position: absolute;
  left: 44%;
  cursor: pointer; }

.index-form #channel-btn img{
  width: 67px;
  height: 61px;
  color: #000000;
  position: absolute;
  right: 44%;
  cursor: pointer; }


@media screen and (max-width: 768px) {
  .index-form {
    padding: 46px 30px 30px 30px;
  }
  .index-form h2 {
    font-size: 24px;
    margin: 0 0 79px 0;
  }
  .index-form p {
    font-size: 13px;
  }
  .index-form h1 {
    margin: 13px 0 0px 0;
  }
  .index-form h3 {
    margin: 7px 0 79px 0;
  }
  .index-form .wallet-address hr {
    margin: 10px 0 1px 24px;
  }
  .index-form .form-group p {
    font-size: 15px;
  }
  /*  .index-form .form-group img {
    margin-right: 4%;
  }*/
}




/*  record start  */

.record-form {
  padding: 80px 30px 0 30px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  position: absolute !important;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed; }

.record-form .record-box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow: hidden; }

.record-form .record-box:hover {
  background: white;
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1); }

.record-form .record-box-left{
  position: relative;
  color: #000000;
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break: break-all;
}
.record-box h2 {
  font-size: 21px;
  margin-top: 10px; 
}
.record-form h1 {
  font-family: "yu gothic ui semibold";
  font-size: 29px;
  margin-top: 4%;
  color: #000000; 
  text-align:center; }

.record-form .icon-left {
  width: 24px;
  height: 24px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
  float: left; }

.record-form div {
  position: relative; }

.record-form div p {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0;
  max-width: 322px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }





/*  record end  */


/*  setting start  */

.setting-form {
  padding: 80px 30px 0 30px;
  min-height:100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed;
}

.setting-form .setting-box{
  padding: 20px;
  background: rgba(255,255,255,0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow:hidden;
  .record-a{
    color:#FF95AE;
    padding:8px 20px 8px 8px;
  }
}
.setting-form .setting-box-left{
  position: relative;
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break: break-all;
}
.setting-form .setting-box:hover{
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
}
.setting-form .pager {
  margin: 0; }

.setting-form .pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: transparent;
  border: none; }

.setting-form .setting-close-btn {
  font-size: 34px;
  color: #000000;
  display: block;
}

.setting-form h1 {
  font-family: "yu gothic ui semibold";
  font-size: 29px;
  margin-top: 4%;
  color: #000000; 
  text-align:center; 
}
.setting-form h3{
  font-size: 27px;
  line-height: 49px;
  margin:10px 0; 
  word-wrap:break-word;
}
.setting-form .form-group {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.setting-form .form-group p {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #FD6E7E;
  display: inline;
  cursor: pointer;
}

.setting-form .form-group a {
  color: #000000;
}

.setting-form .form-group img {
  width: 266px;
  cursor: pointer;
}

.setting-form .setting-input {
  width: calc(100% - 120px);
}

.setting-form .setting-save-btn {
  width: 82px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  margin: 15px 0 0;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.setting-save-btn:hover,
.setting-save-btn:focus,
.setting-save-btn:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}




/*  setting end  */


/*  add start  */

.add-form {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

.add-form h2 {
  font-family: "yu gothic ui semibold";
  text-align: center;
  font-size: 26px;
  margin: 0px 0 63px 0;
  color: #000000;
}

.add-form span {
  text-align: center;
  font-size: 19px;
}

.add-form .form-group {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.add-form .form-group p {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #FD6E7E;
  display: inline;
  cursor: pointer;
}

.add-form .form-group a {
  color: #000000;
}

.add-form .form-group img {
  width: 266px;
  cursor: pointer;
}

.add-form .add-input {
  width: calc(100% - 120px);
}

.add-form .add-deposit-btn {
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.add-deposit-btn:hover,
.add-deposit-btn:focus,
.add-deposit-btn:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}
.add-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px;
  cursor: pointer;
}



/*  setting end  */


/*  transfer start  */

.transfer-form {
  padding: 80px 30px 0 30px;
  min-height: 100vh;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed; }

.transfer-form .transfer-box {
  padding: 20px;
  height: 82%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow: hidden; }

.transfer-form .transfer-box:hover {
  background: white;
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1); }

.transfer-form .transfer-box-left{
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break: break-all;
}
.transfer-form h1 {
  font-family: "yu gothic ui semibold";
  font-size: 33px;
  margin-top: 4%;
  color: #000000; 
  text-align:center;
}

.transfer-form h3 {
  font-size: 27px;
  line-height: 49px;
  margin:10px 0; 
  word-wrap:break-word;
}

.transfer-form h4 {
  width: 50%;
  font-family: "yu gothic ui semibold";
  letter-spacing: 0px;
  font-size: 17px;
  color: #000000;
  margin: 0 0 30px 0;
}


.transfer-form .form-group {
  margin: 35px 0;
}

.transfer-form .form-group1 {
  margin-bottom: 4px;
}

.transfer-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.transfer-form .form-group a {
  color: #000000;
}

.transfer-form .form-group svg {
  position: absolute;
  lineheight: 66px;
  /* margin: 20px 0; */
  right: 4px;
  font-size: 15px;
  /* float: right; */
  top: calc(50% - 15px);
  padding: 4px;
  border: 1px solid #E7E6E6;
  border-radius: 50%;
  cursor: pointer;
}

.transfer-form label {
  font-size: 14px;
  font-weight: 300;
}

.transfer-form .form-control {
  font-size: 18px;
  font-weight: 300;
  height: 66px;
  line-height: 66px;
  width:100%;
  padding-right: 40px;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transfer-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
  padding-right: 20%;
}

.transfer-form .form-control:focus,
.login-form .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.transfer-form .btn-transfer {
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.btn-transfer:hover,
.btn-transfer:focus,
.btn-transfer:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}

.total-amount {
  color: #FF95AE !important;
  margin-bottom: 0px;
  font-weight: 500;
}

.form-remark {
  border-bottom: none !important;
}

.transfer-form .form-btn {
  width: 100%;
  text-align: center;
}




/*  transfer end  */


/*  txonchain start  */

.txonchain-form {
  padding: 80px 30px 0 30px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed; }

.txonchain-form .txonchain-box {
  padding: 20px;
  height: 82%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow: hidden; }

.txonchain-form .txonchain-box:hover {
  background: white;
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1); }

.txonchain-form .txonchain-box-left{
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break: break-all;
}
.txonchain-form h1 {
  font-family: "yu gothic ui semibold";
  font-size: 33px;
  margin-top: 4%;
  color: #000000; 
  text-align:center;}

.txonchain-form h3 {
  font-size: 27px;
  line-height: 49px;
  margin:10px 0; 
  word-wrap:break-word;}

.txonchain-form h4 {
  width: 50%;
  font-family: "yu gothic ui semibold";
  letter-spacing: 0px;
  font-size: 17px;
  color: #000000;
  margin: 0 0 30px 0; }

.txonchain-form .icon-left {
  width: 20px;
  height: 20px;
  margin-left: -18px;
  margin-bottom: 22px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer; }

.txonchain-form .form-group {
    margin: 35px 0; }

.txonchain-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300; }

.txonchain-form .form-group a {
  color: #000000; }

.txonchain-form .form-group svg {
  position: absolute;
  lineheight: 66px;
  /* margin: 20px 0; */
  right: 4px;
  font-size: 15px;
  /* float: right; */
  top: calc(50% - 15px);
  padding: 4px;
  border: 1px solid #E7E6E6;
  border-radius: 50%;
  cursor: pointer; }

.txonchain-form label {
  font-size: 14px;
  font-weight: 300; }

.txonchain-form .form-control {
  font-size: 18px;
  font-weight: 300;
  height: 66px;
  line-height: 66px;
  padding-left: 0;
  padding-right: 40px;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.txonchain-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
  padding-right: 20%; }

.txonchain-form .form-amount::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px !important; }

.txonchain-form .form-control:focus,
.txonchain-form .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }

.txonchain-form #amount-svg1 {
  width: 49px;
  height: 30px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  right: 4px;
  font-size: 15px;
  top: calc(50% - 15px);
  padding: 4px;
  background: #3E496A;
  border-radius: 8px; }

.txonchain-form .btn-txonchain {
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4); }

.btn-txonchain:hover,
.btn-txonchain:focus,
.btn-txonchain:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none; }

.total-amount {
  color: #FF95AE !important;
  margin-bottom: 0px;
  font-weight: 500; }




/*  txonchain end  */

/*  assets start  */

.assets-form {
  padding: 80px 30px 0 30px;
  min-height:100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed;
}

.assets-form .assets-box{
  padding: 20px;
  background: rgba(255,255,255,0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow:hidden;
  .record-a{
    color:#FF95AE;
    padding:8px 20px 8px 8px;
  }
}
.assets-form .assets-box:hover{
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
}
.assets-form .assets-box-left{
  position: relative;
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break:break-all;
}
.assets-form h1 {
  font-family: "yu gothic ui semibold";
  text-align: left;
  color: #000000;
  font-size: 29px;
  margin-top: 0;
}
.assets-form h2 {
  font-size: 21px;
  margin: 10px 0;
  color: #000000;
}
.assets-form h3 {
  font-size: 20px;
}
.assets-form label {
  margin: 5px 0;
  font-weight: normal;
  font-size: 18px;
}
.assets-form #private-key-show{
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  margin: 15px 0 0;
  color: #ffffff;
  border-radius: 10px;
}
.assets-form .assets-box img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.assets-form div p {
  display: inline;
  color: #000000;
  padding-left: 5px;
  font-weight: 500;
}




/*  assets end  */


.curtain {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9999; }




/*  comfirm start  */

.comfirm-form {
  padding: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
}

.comfirm-form h2 {
  font-family: "yu gothic ui semibold";
  font-size: 27px;
  margin: 0 0 30px 0;
  color: #000000;
}

.comfirm-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px;
}

.comfirm-form .close-btn:hover {
  color: #aaaaaa;
}

.comfirm-form h3 {
  font-family: "yu gothic ui semibold";
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.comfirm-form .form-group {
  margin-bottom: 52px;
  position: relative;
}

.comfirm-form .form-group1 {
  margin-bottom: 4px;
}

.comfirm-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.comfirm-form .form-group a {
  color: #000000;
}

.comfirm-form .form-group svg {
  position: absolute;
  right: 4px;
  font-size: 15px;
  top: calc(50% - 15px);
  padding: 4px;
  border: 1px solid #E7E6E6;
  border-radius: 50%;
  cursor: pointer;
}

.comfirm-form label {
  font-size: 14px;
  font-weight: 300;
}

.comfirm-form .form-control {
  font-size: 18px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  color: #FF95AE;
  text-align: center;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.comfirm-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
}


.comfirm-form .form-group1 {
  margin-bottom: 70px;
}

.comfirm-form .btn-comfirm {
  height: 58px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}




/*  comfirm end  */


/*  pay start  */

.pay-form {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999;}

.pay-form h2 {
  font-family: "yu gothic ui semibold";
  font-size: 23px;
  text-align: center;
  margin: 0 0 30px 0;
  color: #000000;
}

.pay-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px;
}

.pay-form .close-btn:hover {
  color: #aaaaaa;
}

.pay-form h3 {
  font-family: "yu gothic ui semibold";
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.pay-form .form-group {
  position: relative;
}

.pay-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.pay-form .form-group a {
  color: #000000;
}

.pay-form .form-group img {
  position: absolute;
  width: 34px;
  right: 4px;
  top: calc(50% - 14px);
  padding: 4px;
  cursor: pointer;
}

.pay-form label {
  font-size: 14px;
  font-weight: 300;
}

.pay-form .form-control {
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  color: #FF95AE;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pay-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
}
.btn-pay {
  background-color: #FC6686;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}
.btn-pay-cancel{
  background-color: #C1C1C1;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}




/*  pay end  */


/*  pay1 start  */

.pay1-form {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999;}

.pay1-form h2 {
  font-family: "yu gothic ui semibold";
  font-size: 23px;
  text-align: center;
  margin: 0 0 30px 0;
  color: #000000; }

.pay1-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px; }

.pay1-form .close-btn:hover {
  color: #aaaaaa; }

.pay1-form h3 {
  font-family: "yu gothic ui semibold";
  font-size: 16px;
  margin: 0;
  color: #000000; }

.pay1-form .form-group {
  position: relative; }

.pay1-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300; }

.pay1-form .form-group a {
  color: #000000; }

.pay1-form .form-group img {
  position: absolute;
  width: 34px;
  right: 4px;
  top: calc(50% - 14px);
  padding: 4px;
  cursor: pointer; }

.pay1-form label {
  font-size: 14px;
  font-weight: 300; }

.pay1-form .form-control {
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  color: #FF95AE;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.pay1-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400; }

.btn-pay1 {
  background-color: #FC6686;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}
.btn-pay1-cancel{
  background-color: #C1C1C1;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}
.pay1-form #success-div {
  width: 100%;
  text-align: center;
  display: none; }

.pay1-form #success-div img {
  width: 87px;
  margin: 97px 0 30px 0; }




/*  pay1 end  */


/*  deposit-pay start  */

.deposit-pay-form {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

.deposit-pay-form h2 {
  font-family: "yu gothic ui semibold";
  font-size: 23px;
  text-align: center;
  margin: 0 0 30px 0;
  color: #000000;
}

.deposit-pay-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px;
}

.deposit-pay-form .close-btn:hover {
  color: #aaaaaa;
}

.deposit-pay-form h3 {
  font-family: "yu gothic ui semibold";
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.deposit-pay-form .form-group {
  position: relative;
}

.deposit-pay-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.deposit-pay-form .form-group a {
  color: #000000;
}

.deposit-pay-form .form-group img {
  position: absolute;
  width: 34px;
  right: 4px;
  top: calc(50% - 14px);
  padding: 4px;
  cursor: pointer;
}

.deposit-pay-form label {
  font-size: 14px;
  font-weight: 300;
}

.deposit-pay-form .form-control {
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  color: #FF95AE;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.deposit-pay-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
}
.deposit-pay-form .btn-deposit-pay{
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}




/*  deposit-pay end  */


/*  channel start  */

.channel-form {
  padding: 80px 30px 0 30px;
  min-height: 100vh;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed; }

.channel-form .channel-box {
  padding: 20px;
  height: 82%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow: hidden; }
  .assets-form .assets-box .record-a {
    color: #FF95AE;
    padding: 8px 20px 8px 8px; }

.channel-form .channel-box:hover {
  background: white;
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1); }

.channel-form .channel-box-left{
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break: break-all;
}

.channel-form h2 {
  font-family: "yu gothic ui semibold";
  font-size: 37px;
  color: #FF95AE;
  margin-top: 0;
}
.channel-form h3 {
  font-size: 26px;
  line-height: 43px;
  margin: 10px 0;
  word-wrap: break-word;
}
.channel-form h1 {
  font-family: "yu gothic ui semibold";
  font-size: 33px;
  margin-top: 4%;
  color: #000000; 
  text-align:center;
}

.channel-form label {
  font-size:20px;
  font-weight: 300;
}

.channel-form .icon-left {
  width: 20px;
  height: 20px;
  margin-left: -18px;
  margin-bottom: 22px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.channel-form .form-group {
  margin: 27px 0;
}

.channel-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.channel-form .form-group a {
  color: #000000;
}

.channel-form .form-control {
  font-size: 18px;
  font-weight: 300;
  height: 66px;
  line-height: 66px;
  padding-left: 0;
  padding-right: 40px;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.channel-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
}

.channel-form .form-amount::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px !important;
}

.channel-form .form-control:focus,
.login-form .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.channel-form .btn-channel {
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

@media screen and (max-width: 993px) {
  .btn-channel {
    width: 300px;
  }
}

.btn-channel:hover,
.btn-channel:focus,
.btn-channel:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}

.total-amount {
  color: #FF95AE !important;
  margin-bottom: 0px;
  font-weight: 500;
}

.form-remark {
  border-bottom: none !important;
}

.channel-form .form-btn {
  width: 100%;
  text-align: center;
  margin-top: 4%;
}




/*  channel end  */


/*  channel-pay start  */

.channel-pay-form {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

.channel-pay-form h2 {
  font-family: "yu gothic ui semibold";
  text-align: center;
  margin: 25px 0 20px 0;
  color: #000000;
}

.channel-pay-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px;
}

.channel-pay-form .close-btn:hover {
  color: #aaaaaa;
}

.channel-pay-form h4 {
  text-align: left;
  color: #000000;
}

.channel-pay-form .form-group {
  position: relative;
}

.channel-pay-form .form-group1 {
  margin-bottom: 4px;
}

.channel-pay-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.channel-pay-form .form-group a {
  color: #000000;
}

.channel-pay-form .form-group img {
  position: absolute;
  width: 34px;
  right: 4px;
  top: calc(50% - 14px);
  padding: 4px;
  cursor: pointer;
}

.channel-pay-form label {
  font-size: 14px;
  font-weight: 300;
}

.channel-pay-form .form-control {
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 0;
  padding-right: 40px;
  border: none;
  border-bottom: 2px solid #E7E6E6;
  background: none;
  color: #FF95AE;
  font-family: "yu gothic ui semibold";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.channel-pay-form .form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-weight: 400;
}


.channel-pay-form .btn-channel-pay{
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.deposit-pay-form #success-div {
  width: 100%;
  text-align: center;
  display: none;
}

.deposit-pay-form #success-div img {
  width: 87px;
  margin: 97px 0 30px 0;
}




/*  deposit-pay end  */


/*  channel-edit start  */

.channel-edit-form {
  padding: 80px 30px 0 30px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: url(../images/bg_2.jpg) repeat;
  background-attachment: fixed; }


.channel-edit-form .channel-edit-box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow: hidden; 
}

.channel-edit-form .channel-edit-box:hover {
  background: white;
  -webkit-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 6px 46px 2px rgba(0, 0, 0, 0.1); }
.channel-edit-form .channel-edit-box-left{
  float: left;
  height: 82%;
  width: 40%;
  margin-right: 5%;
  word-break: break-all;
}
.channel-edit-form #channel-regist {
    float: right;
    font-size: 18px;
    line-height: 50px;
    color: #FD6E7E;
    cursor: pointer;
}
.channel-edit-form h1{
  font-family: "yu gothic ui semibold";
  font-size: 33px;
  margin-top: 4%;
  color: #000000; 
  text-align:center;
}
.channel-edit-form h2 {
  margin: 10px 0;
  font-size: 22px;
}
.channel-edit-form h3{
  font-size: 26px;
  line-height: 49px;
  margin: 10px 0;
  word-wrap: break-word;
}
.channel-edit-form h4 {
    display:inline;
    margin-right: 40px;
}

.channel-edit-form .icon-left {
  width: 24px;
  height: 24px;
  /* margin-left: -18px; */
  /* margin-bottom: 22px; */
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
  float: left;
}

.channel-edit-form div p {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0;
  max-width: 322px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




/*  channel-edit end  */


/*  channel-edit1 start  */

.channel-edit-form1 {
  padding: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .channel-edit-form1 {
    padding: 30px;
  }
}

.channel-edit-form1 h4 {
  width: 100%;
  text-align: center;
  font-family: "yu gothic ui semibold";
  letter-spacing: 0px;
  font-size: 23px;
  color: #000000;
  margin: 0;
}

.channel-edit-form1 .icon-left {
  width: 24px;
  height: 24px;
  margin-left: -18px;
  margin-bottom: 22px;
  color: #000000;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
  float: left;
}

.channel-edit-form1 div {
  position: relative;
}

.channel-edit-form1 div p {
  color: #000000;
  padding-left: 5px;
  font-weight: 500;
  margin-bottom: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-edit-form1 div span {
  color: #FF95AE;
  background: #FFFFFF;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 25px;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  right: 5%;
  top: calc(50% - 13px);
  border: 1px solid #FF95AE;
  border-radius: 50%;
}

.channel-edit-form1 div h5 {
  display: inline;
  padding: 0 20px 0 5px;
  font-size: 13px;
}




/*  channel-edit1 end  */


/*  channel-infos start  */

.channel-info-form {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  height: 550px;
  padding: 17px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -275px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

.channel-info-form span {
  color: #000000;
  font-size: 16px;
}

.channel-info-form .close-btn {
  content: '×';
  font-size: 34px;
  color: #000000;
  display: block;
  position: absolute;
  right: 8px;
  top: 0px;
  cursor: pointer;
}

.channel-info-form .close-btn:hover {
  color: #aaaaaa;
}

.channel-info-form h1 {
  width: 100%;
  text-align: center;
  font-family: "yu gothic ui semibold";
  letter-spacing: 0px;
  font-size: 23px;
  color: #000000;
}
.channel-info-form h3 {
  font-size: 19px;
  margin: 5px 0;
  font-weight: 500;
  color: #FC6686;
  cursor: pointer;
}
.channel-info-form #add-deposit{
  margin-left: 20px;
  padding: 3px 11px;
  border: none;
  font-size: 16px;
  background: #FC6686;
  color: #ffffff;
  margin: 4px 0 30px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;}

.channel-info-form .btn-totransfer {
  height: 58px;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  background: #FC6686;
  color: #ffffff;
  margin: 4px 0 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(252, 102, 134, 0.4);
}

.btn-totransfer:hover,
.btn-totransfer:focus,
.btn-totransfer:active {
  color: #ffffff;
  background: #FD6E7E !important;
  outline: none;
}

/*  channel-info页面结束  */