<!DOCTYPE html>
	<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trinity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/modernizr-2.6.2.min.js"></script>

	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 form-box">
					<form action="#" class="index-form animate-box" data-animate-effect="fadeIn">
						<svg class="icon-mes" aria-hidden="true">
						  <use xlink:href="#icon-lingdang"></use>
						</svg>
						<h2>MY Wallet</h2>
						<p>Current Balance</p>
						<h1>$1000.00</h1>
						<h3>(+$199.00)<span style="color: #29E438;margin-left: 4px;">▲</span></h3>
						<div class="wallet-address">
							<p>Wallet Address</p>
							<hr style="height:1px;border:none;border-top:1px solid #E7E6E6;" />
						</div>
						<div class="form-group">
							<div style="width: 95%;height: 80px;margin: 0 auto;">
								<p id="wallet_add">0xf4cc4154a4987f8784<br>064468c3c6b21f
								<svg class="icon-copy" aria-hidden="true">
								  <use xlink:href="#icon-fuzhi"></use>
								</svg></p>
								<img src="images/wallet_qrcode.png" id="wallet_qr">
							</div>
						</div>
						<div class="form-group form-btn">
							<svg class="icon-qianbao" aria-hidden="true" onclick="location.href='channle?#'">
								  <use xlink:href="#icon-qianbao"></use>
							</svg>
							<input type="button" value="Transfer" class="btn btn-index" onclick="location.href='transfer?#'">
						</div>
					</form>
					<div id="curtain1" class="curtain"></div>
					<form action="#" class="wallet-form animate-box" data-animate-effect="fadeIn">
						<a class="close-btn" href="javascript:;">×</a>
						<h2>Recive</h2>
						<div class="form-group">
							<img src="images/wallet_qrcode1.png" alt="">
						</div>
						<div class="form-group">
							<p>0xf4cc4154a4987f8784064468c3c6b21f</p>
						</div>
						<div class="form-group form-btn">
							<div class="btn btn-share">
								<svg class="icon-share" aria-hidden="true">
								  <use xlink:href="#icon-fenxiang"></use>
								</svg><span>&nbsp;&nbsp;Share address</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row" style="clear: both;"></div>
		</div>
	
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/iconfont.js"></script>
	<script src="/javascripts/jquery.placeholder.min.js"></script>
	<script src="/javascripts/jquery.waypoints.min.js"></script>
	<script src="/javascripts/main.js"></script>
	</body>
</html>

