<!DOCTYPE html>
	<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trinity - Sign up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/modernizr-2.6.2.min.js"></script>

	</head>
	<body class="style-3">

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-8 form-box">

					<form action="#" class="sign-up-form animate-box" data-animate-effect="fadeInRight">
						<svg class="icon icon-left" aria-hidden="true" onclick="location.href='/login'">
						  <use xlink:href="#icon-right"></use>
						</svg>
						<h2>Create<br>My Wallet</h2>
						<div class="form-group">
							<div class="alert alert-success" style="display: none;" role="alert">Your info has been saved.</div>
						</div>
						<div class="form-group">
							<label for="sign-up-name" class="sr-only">Name</label>
							<input type="text" class="form-control" id="sign-up-name" placeholder="E-mail" autocomplete="off">
						</div>
<!-- 						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
						</div> -->
						<div class="form-group">
							<label for="sign-up-password" class="sr-only">Password</label>
							<input type="password" class="form-control" id="sign-up-password" placeholder="Password" autocomplete="off">
						</div>
						<div class="form-group" style="margin-bottom: 10px;">
							<label for="sign-up-repassword" class="sr-only">Repeat Password</label>
							<input type="password" class="form-control" id="sign-up-repassword" placeholder="Repeat Password" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="sign-up-agree"><input type="checkbox" id="sign-up-agree"> I Agree with the terms of service</label>
						</div>
						<div class="form-group" style="text-align: center;margin-bottom: 10px;">
							<input type="button" value="Sign Up" class="btn btn-sign-up">
						</div>
						<div class="form-group" style="margin-bottom: 93px;">
							<p>Already have a wallet? <a href="login">Sign In</a></p>
						</div>
					</form>

				</div>
			</div>
			<div class="row" style="clear: both;"></div>
		</div>
	
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/iconfont.js"></script>
	<script src="/javascripts/jquery.placeholder.min.js"></script>
	<script src="/javascripts/jquery.waypoints.min.js"></script>
	<script src="/javascripts/main.js"></script>
	</body>
</html>

