<html>
</head>
<style>
body{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
</style>
<body>
	<div id="success-div" style="text-align: center;">
		<img src="images/success.png" style="margin-top: 65%;">
		<h2 style="font-size: 60px;">Success!</h2>
	</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script>
    $(document).ready(function () {    
                      setTimeout(function(){  
                         location.href='/';  
                      },2000);  
});  
</script>
</html>